.app {
    text-align: center;
}

.soccer-table {
    display: grid;
    place-items: center;
    row-gap: 0.25rem;
}

.position {
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
    border-style: solid;
    border-width: 2px;
    border-radius: 0.375rem;
    width: 320px;

}

.rank0 {
    background-color: rgb(74 222 128);
}

.rank1, .rank2 {
    background-color: rgb(220 252 231);
}


.rank3, .rank4, .rank5 {
    background-color: rgb(34 211 238);
}

.rank6, .rank7, .rank8, .rank9, .rank10, .rank11, .rank12, .rank13, .rank14 {
    background-color: rgb(252 231 243);
}

.rank15 {
    background-color: rgb(254 202 202);
}

.rank16, .rank17 {
    background-color: rgb(220 38 38);
}

.team {
    font-weight: 700;
    column-gap: 0.125rem;
    grid-template-columns: 1fr 9fr 1fr;
    display: grid;
}

.editButton{
    color: rgb(75 85 99);
    opacity: 0;

}

.editButton:hover{
    opacity: 1;
}

svg.editButton {
    width: 1rem;
    height: 1rem;
    display: block;
    vertical-align: middle;
}