<div th:fragment="position(team)" th:id="|position-${team.id}|">
    <div class="position" th:classappend="${'rank' + teamStat.index}">
        <div class="team">
            <div th:text="${teamStat.index + 1}"></div>
            <div th:if="${team.editMode}" th:insert="~{fragments :: editTeam}" th:remove="tag"/>
            <div th:if="${not team.editMode}" th:insert="~{fragments :: showTeam}" th:remove="tag"/>
            <div class="editButton" hx:post="|/edit/${team.id}|" hx-swap="innerHTML" hx-target="#soccer-table">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="editButton"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                        stroke-width="2"
                >
                    <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"
                    />
                </svg>
            </div>

        </div>
        <input type='hidden' name='team' th:value="${team.id}"/>


    </div>
</div>

<div th:fragment="soccer-table" th:remove="tag">

    <div th:insert="~{fragments :: position(${team})}" th:each="team : ${soccerTable.positions}" th:remove="tag">
    </div>

</div>

<div th:fragment="editTeam" th:remove="tag">
    <form id="edit-soccer-table" hx-post="/saveSingleTeam" hx-swap="innerHTML" hx-target="#soccer-table">
        <input name='teamName' th:value="${team.name}"/>
        <input type='hidden' name='teamId' th:value="${team.id}"/>
    </form>
</div>

<div th:fragment="showTeam" th:text="${team.name}">FC Wolfsburg</div>
